html{
  font-size: 62.5%;
}
.container{
  display: grid; height: 100vh; 
  grid-template-areas: 
  "item1 item1 item1 item1"
  "item2 item2 item2 item3"
  "item4 item5 item6 item3"
  "item7 item7 item7 item7";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 10fr 15fr 2fr;
  grid-gap: 0.2rem;
}

.item1{
  background-color: darkgrey;
  grid-area: item1;
  }
  
  .item1 ul{
    list-style: none; display: flex; 
  }
  .item1 ul li a{
    text-decoration: none; margin: 6rem; color: white;
  }
  .item1 ul li a:hover{
    background-color: green; border-radius: 2px;
  }
.item2{
  background-color: yellow;
  grid-area: item2;
  }
.item3{
  background-color: green; 
  grid-area: item3;
}

.item3{
  padding: 8px 0px;
}
.one:hover img{
  transform:scale(1.2);
}
.one img{
  transition: 2s;
}
.one{
  overflow: hidden;
}
.item4{
  background-color: blue;
  grid-area: item4;
}
.item4 h3{
  color: white; 
}

.item4 p{
  color: white;
}

.item4 h3{
  text-align: center;
}
.item5{
  background-color: purple; 
  grid-area: item5;
}
.item6{
  background-color: red;
  grid-area: item6;
}
.item7{
  background-color: darkgrey;
  grid-area: item7;
}
.item7 h4,p{
  text-align: center;
}
.item7 h4{
  font-size: 2rem; color: red; text-transform: uppercase;
}
.item7 p{
  font-size: 1rem; color: white; text-transform: uppercase;
}
.item2 h2{
  text-align: center; text-transform: uppercase; background-color: black;
}


@media only screen and (max-width: 580px){
  .container{
    grid-template-areas: 
    "item1"
    "item2"
    "item4"
    "item5"
    "item6"
    "item3"
    "item7";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 9fr 8fr 5fr 7fr 4fr;
  }
}
